<!DOCTYPE html>
<html>
<head>
  <title>Super Craic</title>
  <link rel="stylesheet" type="text/css" href="/abdi.css">
</head>
<body>
  <style>
body
{
background-image:url('http://4hdwallpapers.com/wp-content/uploads/2013/09/Attack-on-Titan-Anime.jpg');
background-repeat:no-repeat;
}
</style>



  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/abdi.js"></script>

</body>
</html>

