
<!DOCTYPE html>
<html>
<head>
	<title>Super Craic</title>
  <link rel="stylesheet" type="text/css" href="/application.css"> 

  <style>

  </style>

</head>

<div id="enrique">

	<img src="https://0.gravatar.com/avatar/8e24f63b6d48327d13495b2f7c24639f?d=https%3A%2F%2Fidenticons.github.com%2Ffe848d949e9f64777d3b482efedff108.png&r=x&s=440">

</div>

<body>
	<h1><strong>DO NOT PRESS 'R'</strong></h1>

	<p>Click me dick</p>
	<p>Click me dick</p>
	<p>Click me dick</p>

<div id="mainpage">

	<input value="Append ... wait, recognise?" type="submit" id="append">

</div>



<div class="fotorama">
  <img src="http://www.baconwrappedmedia.com/wp-content/uploads/2013/01/funny-kids-bacon-wrapped-media-2.jpg">
  <img src="http://funnyasduck.net/wp-content/uploads/2012/08/12_funny+pictures.jpg">
</div>



<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> <!-- 33 KB -->
<script src=sssssss></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://fotorama.s3.amazonaws.com/4.4.8/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://fotorama.s3.amazonaws.com/4.4.8/fotorama.js"></script> 

<script src="javascript/mark.js"></script>


<script> 


$(document).ready(function () {

    $('body').on('keydown keyup',function(r){
      var color = r.type=="keydown" ? 'red' : 'white' ;
      if(r.which==82){
          $("#enrique").animate({opacity: 1}, 3000); 
      }
    });

 slide();

$('#append').on('click', function() {
	homepage();
});

});

</script>

<!-- 15 KB -->
<!-- https://0.gravatar.com/avatar/8e24f63b6d48327d13495b2f7c24639f?d=https%3A%2F%2Fidenticons.github.com%2Ffe848d949e9f64777d3b482efedff108.png&r=x&s=440 -->
<!-- 2. Add images to <div class="fotorama"></div>. -->


</body>
</html>