

<!DOCTYPE html>
<html>
<head>
	<title>Super Craic</title>
  <link rel="stylesheet" type="text/css" href="/application.css"> 

  <style>

  </style>

</head>

<body>

<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://fotorama.s3.amazonaws.com/4.4.8/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://fotorama.s3.amazonaws.com/4.4.8/fotorama.js"></script> <!-- 15 KB -->

<!-- 2. Add images to <div class="fotorama"></div>. -->
<div class="fotorama">
  <img src="http://www.baconwrappedmedia.com/wp-content/uploads/2013/01/funny-kids-bacon-wrapped-media-2.jpg">
  <img src="http://funnyasduck.net/wp-content/uploads/2012/08/12_funny+pictures.jpg">
</div>

</body>
</html>