body {
	background-image:url('http://images.sodahead.com/slideshows/000002579/peace-sign-26930390441_xlarge.jpeg');
	color:blue;
}

h1 {
	color:black;
	text-align:center;
}

li {
	color:green;
	text-align:right;
}

p {
	color:red;
	text-align:justify;
}
