@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato.ttf');
}

body {
	background-image:url('/images/homebg.jpg');
	color:blue;
	font-family: 'Lato';
}

h1 {
	color:black;
	text-align:center;
	font-size: 80;
}

li {
	color:green;
	text-align:center;
}

p {
	color:red;
	text-align:center;
}

h2 {
	color: #7D0000;
	font-size: 64;
	text-align: center;
}

#main {
	opacity: 0;
}

#the_key {
	font-size: 64;
}

#enrique {
	opacity: 0;
}